.Sum{
    width: 100%;
    h4{
        margin: 0;
    }
    .Sum-Top{
        // background: red;
        background: url("http://www.blackbirdsport.com/static/img/route-bg-2.jpg") no-repeat;
        width: 100%;
        height: 556px;
        overflow: hidden;
        background-size: 100% 100%;
        .Sum-Top-center{
            height: 256px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.49);
            margin:140px 0px;
            h4{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 16px;
                color: white;
            }
            p{
                display: block;
                width: 200px;
                height: 90px;
                margin:0 auto;
                background: url(http://www.blackbirdsport.com/static/img/route-logo-1.png) no-repeat;
            }
            span{
                width: 100%;
                margin-bottom: 15px;
                font-size: 21px;
                font-weight: 200;
                color: white;
                text-align:center;
                margin-top: 20px;
                display: block;
            }
         }
        }
    .Sum-Center{
        width: 100%;
        background-color: rgba(0, 46, 111, 0.5);
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        height: 617px;
        p{
            width: 100%;
            img{
                display: block;
                width: 100px;
                height: 75px;
                margin:0 auto;
                border-radius: 50%;
            }
           
        }
        h3{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 27px;
            text-align: center;
            font-family: inherit;
            font-weight: 500;
            color: #333333;
            margin-top: 20px;
            margin-bottom: 10px;
        }
       h4{
            margin:0px 0x;
            font-size: 21px;
            font-weight: 200;
            width: 100%;
            line-height: 24px;
            text-align: center;
            color: #333333;
            margin-bottom: 20px;
        }
        
    }
    .Sum-Main{
        padding: 0px 15px;
        .ant-tabs-tab{
            width: 50%;
            text-align: center;
           }
        .ant-tabs-content{
            width: 100%;
            .Sum-Img{
                padding: 5px 5px;
                border: 1px solid #ddd;
                margin-bottom: 20px;
                position: relative;
                img{
                    width: 100%;
                }
                .Sum-text{
                    width: 100%;
                    position: absolute;
                    top: 32%;
                    .text{
                        text-align: center;
                        font-size: 24px;
                        line-height: 24px;
                        color: #fff;
                        margin: 20px 0px 10px;
                    }
                   .text1{
                        font-size: 14px;
                        color: #fff;
                        line-height: 14px;
                        text-align: center;
                    }
                }
            }
           
           }
    }
  
    }
  

